<head>
  <link rel="stylesheet" href="stylesheets/questions.scss">
</head>

<body>
<h1><b>Stupid Coaching</b></h1>
<h2>Ask you coach anything
<form action="/answer" method="get">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>
</h2>
</body>
